.danger-text  { color: var(--color-danger); }
.success-text { color: var(--color-success); }
.warning-text { color: var(--color-warning); }

.text-md { font-size: var(--font-size-base); }
.text-sm { font-size: var(--font-size-sm); }
